@tailwind base;
@tailwind components;
@tailwind utilities;

html, body {
  @apply bg-white text-gray-700 dark:bg-[rgb(16,23,42)] dark:text-gray-200;
  height:fit-content;
}

.post-content p{
  margin-bottom: 0.5rem;
  
}

.post-content h1{
  font-size: 1.5rem;
  font-weight: 600;
  font-family: sans-serif;
  margin: 1.5rem 0;

}

.post-content h2{
  font-size: 1.4rem;
  font-family: sans-serif;
  margin: 1.5rem 0;
}
.post-content a{
  color: rgb(73, 149,199);
  text-decoration: none;

}
.post-content{
  @apply bg-white text-gray-700 dark:bg-[rgb(16,23,42)] dark:text-gray-200;
}
.dark .post-content * {
  background-color: transparent !important;
  color: #e5e7eb !important; 
}


